@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

/* Tailwind Direktifleri */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Local Font */
@font-face {
  font-family: 'Sora';
  src: url('/fonts/Sora-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/fonts/Bricolage-Bold.ttf') format('truetype');
  font-weight: 700; 
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/noto-sans/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/noto-sans/NotoSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

/*  CSS Değişkenleri */
@layer base {
  :root {
    /* -- Radius Ayarları -- */
    --radius: 0.625rem;
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);

    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    
    /* -- Chart Renkleri -- */
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);

    /* -- Sidebar -- */
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

    /* -- Shadcn UI Mapping (Hata önleyici) -- */
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
  }

  /* -- Renkler (Dark Mode - OKLCH) -- */
  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
  }

  [data-theme='1'] {
    /* --- CALCULATOR THEME 1 (Default) --- */
    --calc-bg-main: hsl(222, 26%, 31%);
    --calc-bg-keypad: hsl(223, 31%, 20%);
    --calc-bg-screen: hsl(224, 36%, 15%);
    --calc-key-bg-primary: hsl(30, 25%, 89%);
    --calc-key-shadow-primary: hsl(28, 16%, 65%);
    --calc-key-bg-secondary: hsl(225, 21%, 49%);
    --calc-key-shadow-secondary: hsl(224, 28%, 35%);
    --calc-key-bg-accent: hsl(6, 63%, 50%);
    --calc-key-shadow-accent: hsl(6, 70%, 34%);
    --calc-text-main: hsl(0, 100%, 100%);
    --calc-text-keys: hsl(221, 14%, 31%);
    --calc-text-accent: hsl(0, 100%, 100%);
  }

  [data-theme='2'] {
    /* --- CALCULATOR THEME 2 --- */
    --calc-bg-main: hsl(0, 0%, 90%);
    --calc-bg-keypad: hsl(0, 5%, 81%);
    --calc-bg-screen: hsl(0, 0%, 93%);
    --calc-key-bg-primary: hsl(45, 7%, 89%);
    --calc-key-shadow-primary: hsl(35, 11%, 61%);
    --calc-key-bg-secondary: hsl(185, 42%, 37%);
    --calc-key-shadow-secondary: hsl(185, 58%, 25%);
    --calc-key-bg-accent: hsl(25, 98%, 40%);
    --calc-key-shadow-accent: hsl(25, 99%, 27%);
    --calc-text-main: hsl(60, 10%, 19%);
    --calc-text-keys: hsl(60, 10%, 19%);
    --calc-text-accent: hsl(0, 100%, 100%);
  }

  [data-theme='3'] {
    /* --- CALCULATOR THEME 3 --- */
    --calc-bg-main: hsl(268, 75%, 9%);
    --calc-bg-keypad: hsl(268, 71%, 12%);
    --calc-bg-screen: hsl(268, 71%, 12%);
    --calc-key-bg-primary: hsl(268, 47%, 21%);
    --calc-key-shadow-primary: hsl(290, 70%, 36%);
    --calc-key-bg-secondary: hsl(281, 89%, 26%);
    --calc-key-shadow-secondary: hsl(285, 91%, 52%);
    --calc-key-bg-accent: hsl(176, 100%, 44%);
    --calc-key-shadow-accent: hsl(177, 92%, 70%);
    --calc-text-main: hsl(52, 100%, 62%);
    --calc-text-keys: hsl(52, 100%, 62%);
    --calc-text-accent: hsl(198, 20%, 13%);
  }

}


@layer base {
  * {
    border-color: var(--border); 
    outline-color: color-mix(in srgb, var(--ring) 50%, transparent); 
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: hsl(223, 19%, 93%); /* Grey 100 */
}

.force-light {
  color-scheme: light !important;
  --background: 0 0% 100% !important;
  --foreground: 222.2 84% 4.9% !important;
  background-color: #f5f6fa !important;
  color: #334253 !important;
}

.force-light .bg-white {
  background-color: #ffffff !important;
}

.force-light text-mod-dark-blue {
  color: #334253 !important;
}

@keyframes flipDown {
  0% { transform: rotateX(0deg); }
  100% { transform: rotateX(-180deg); }
}

.animate-flip-down {
  animation: flipDown 0.6s ease-in forwards;
  transform-style: preserve-3d;
}

.perspective-1000 {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}